.SearchResults {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.SearchResults p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.SearchResults h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 6px;
}

.tracks {
    margin-bottom: 50px;
}